<div class="container">
<h1>Listing Discussions | <%= link_to 'New Discussion', new_discussion_path %></h1>
</div>

<div class="j-discussion">
</div>

<!-- begin form -->
<div class="container">
  <div class="row">
    <div class="col-md-8 bg-white" style="margin-top: 10px;">
      <h3> New Discussion </h3>
<%= form_for(@discussion) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control" %>
  </fieldset>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-primary pull-right" %>
  </div>
<% end %>
</div>
</div>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
  $('.show-btn').on('click', function(e){
    event.stopPropagation();
    console.log("clicked");
  });

  $('form').submit(function(event) {
    event.preventDefault();
    event.stopPropagation();
    var values = $(this).serialize();
    var posting = $.post('discussions', values);

    posting.done(function(data){
      var newDiscussion = new DiscussionData(data[i]["id"], data[i]["title"], data[i]["content"], data[i]["user"], data[i]["comments"])
      var html = "";
      html += '<div class="discussion-thread" data-id=' + newDiscussion.id + '>'
      html += '<div class="container">'
      html += '  <div class="row" style="margin-top: 10px;">'
      html += '    <div class="col-md-8 bg-white">'
      html += '      <div class="media">'
      html += '        <div class="media-left">'
      html += '            <%= image_tag("pen") %>'
      html += '        </div>'
      html += '        <div class="media-body">'
      html += '          <h3 class="media-heading font-1">' + newDiscussion.title + '</h3>'
      html += '          <p>Asked by ' + newDiscussion.author() + '</p>'
      html += '          <a href="/discussions/' + newDiscussion.id + '">Show</a>'
      html += '       </div>'
      html += '      </div>'
      html += '    </div>'
      html += '  </div>'
      html += '</div>'
      html += '</div>'
      $(".j-discussion").append(html);
    });
  });

  function DiscussionData(id, title, content, user, comments){
    this.id = id;
    this.title = title;
    this.content = content;
    this.user = user;
    this.comments = comments;
    this.author = function(){
      return user["name"];
    }
  }

  $(document).ready(function() {
    var html = "";
    $.get("/discussions.json", function(data) {
         var len = data.length;

         for(var i = 0; i < len; i++){
          var newDiscussion = new DiscussionData(data[i]["id"], data[i]["title"], data[i]["content"], data[i]["user"], data[i]["comments"])
          html += '<div class="discussion-thread" data-id=' + newDiscussion.id + '>'
          html += '<div class="container">'
          html += '  <div class="row" style="margin-top: 10px;">'
          html += '    <div class="col-md-8 bg-white">'
          html += '      <div class="media">'
          html += '        <div class="media-left">'
          html += '            <%= image_tag("pen") %>'
          html += '        </div>'
          html += '        <div class="media-body">'
          html += '          <h3 class="media-heading font-1">' + newDiscussion.title + '</h3>'
          html += '          <p>Asked by ' + newDiscussion.author() + '</p>'
          html += '          <a href="/discussions/' + newDiscussion.id + '">Show</a>'
          html += '       </div>'
          html += '      </div>'
          html += '    </div>'
          html += '  </div>'
          html += '</div>'
          html += '</div>'
         }
      $(".j-discussion").html(html);
    });
  });
});


</script>
